<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>Trustify: Add page</title>
</head>
<body>
    <h1>SIC43NT Add UID page</h1>
    <form role="form" method='POST' action='/'>
        <div class="form-group">
            <th>New UID:</th>
            <input type="text" name="uid" class="form-control" id="uid-box" placeholder="Enter UID from Tag" size="30" autofocus required>
            <br>
            <br>
            <th>New Key:</th>
            <input type="text" name="key" class="form-control" id="key-box" placeholder="Enter new secret key.." size="35" autofocus required>
        </div>
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</body>